<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhu.chenyuzhang.experimentgame">

    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SurveyLast" android:screenOrientation="portrait"/>
        <activity android:name=".SurveySingle" android:screenOrientation="portrait"/>
        <activity android:name=".Survey_opening2" android:screenOrientation="portrait"/>
        <activity android:name=".SurveySpecial" android:screenOrientation="portrait"/>
        <activity android:name=".SurveyMore" android:screenOrientation="portrait"/>
        <activity android:name=".SurveyContinue" android:screenOrientation="portrait"/>
        <activity android:name=".SurveyOpening" android:screenOrientation="portrait"/>
        <activity android:name=".Database_fail" android:screenOrientation="portrait"/>
        <activity android:name=".TotalAmountActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Questions.Question2Att4OpHorizontal" android:screenOrientation="portrait"/>
        <activity android:name=".Questions.Question2Att4OpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Questions.Question4Att2OpHorizontal" android:screenOrientation="portrait"/>
        <activity android:name=".Questions.Question4Att2OpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Questions.Question4ActivityHorizontal" android:screenOrientation="portrait"/>
        <activity android:name=".Questions.Question4Activity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ResultActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Questions.QuestionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Questions.QuestionActivityHorizontal" android:screenOrientation="portrait"/>
        <activity android:name=".EndDemoActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>